*{
    padding: 0px;
    margin: 0px;
}
body{
    padding: 0px;
    margin: 0px;
    background-color:aliceblue;
}
.one-part{
    padding-top: 50px;

    background-color: antiquewhite;
}
nav{
   
    display: flex;
    justify-content:space-between;
    align-items: center;
  
}
nav h3{
    margin-left: 228px;
    font-weight: 700;
 font-size: 45px;
}
nav ul{
    font-weight: 500;
    font-size: 18px;
    margin-right: 240px;
    display: flex;
    align-items: center;
    list-style-type: none;
    column-gap:50px;
}
.section-main{
    display: flex;
    flex-direction: column;
    align-items: center;
  row-gap: 20PX;

}
.one-main-section{
    width: 862px;
    height: 225px;
    margin: 102px 529px 33px 529px;
    align-items: center;
}
.one-main-section h1{
    font-weight: 700;
    font-size: 64px;
  text-align: center;
  margin: 33px;
}
.one-description{
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.button{
    margin-top: 33px;
    padding: 21px 24px;
    font-weight: 600;
font-size: 20px;
color: #FFFFFF;
background: #FF900E;
border-radius: 8px;
}
.one-image img{
    width: 1440px;
height: 700px;
border-radius: 8px;
margin-top: 50px;
margin-bottom: 45px;
}
.two-part{
    margin: 85px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.two-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.two-image img{
    width: 342px;
    height: 342px;
    border-radius: 8px;
}
.two-text{
margin-left: 85px;
width: 537px;
height: 304px;
}
.two-text h2{ 
    width: 468px;
    height: 106px;
    margin-bottom: 8px;  
}
.ash{
    font-weight: 500;
font-size: 45px;
color: #727272;
}
.dark{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.orange{
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}
.two-description{
    
    font-weight: 400;
font-size: 16px;
color: #727272;

}
.three{
    margin: 130px auto;
    display: flex;
    justify-content:center ;
    align-items: center;
    column-gap: 54px;
}
.three-text{
    width: 586px;
    height: 982px;
}
.text-title{
    margin-bottom: 30px;
}
.text-title h2{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    width: 468px;
    height: 106px;
    margin-bottom: 24px;
    margin-left: 20px;
}
.text-title p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.text-description{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.description-box{
  box-shadow: 8px 8px 8px #877f7f;
    width: 586px;
    height: 171px;
}
.description-box h3{
    font-weight: 600;
    font-size: 20px;
}
.description-box p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.three-image{
    width: 825px;
    height: 1058px;
    position: relative;

}
.three-image img{
    position: absolute;
    top: 0;
    right: 0;
    width: 708px;
    height: 982px;
   
}

.vl {
    border-left: 6px solid #FF900E;;
    width: 5px;
    height: 106px;
    position:absolute; 
  }
  .big-button{
    font-weight: 700;
font-size: 35px;
color: #FFFFFF;
background: #FF900E;
border-radius: 8px;
width: 342px;
height: 200px;
position: absolute;
left: 0;
bottom: 0;
  }
  .four{
    margin: 87px auto;
  }
  .four-title{
    margin-left: 450px;
  }
  .four-title h3{
    font-weight: 700;
font-size: 45px;
width: 258px;
height: 53px;
margin-bottom: 24px;
  }
  .four-title p{
    font-weight: 400;
font-size: 16px;
color: #727272;
width: 542px;
height: 52px;
  }
  .four-icon{margin-top: 107px;
    display: flex;
    justify-content:center;
    align-items: center;
    column-gap: 124px;
  
  }
  .icon{
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 40px 59px 40px;
    width: 169px;
    height: 136.22px;
    
  }
  .icon img{
    width: 45.22px;
height: 45.22px;

  }
  .icon h3{
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
font-size: 45px;
  }
  .icon p{
    margin-top: 0;
    font-weight: 600;
font-size: 20px;
color: #727272;
}
.five,.bonus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    margin-bottom: 130px;
}
.five-title,.bonus-title{
    display:flex ;
    flex-direction: column;
    align-items: center;
}
.five-title h3,.bonus-title h3{
    font-weight: 700;
font-size: 45px;
margin-bottom: 8px;
}
.five-title p{
    font-weight: 400;
font-size: 16px;
width: 542px;
height: 52px;
color: #727272;
text-align: center;
}
.bonus-title p{
    font-weight: 400;
    font-size: 16px;
    width: 542px;
    height: 52px;
    color: #727272;
    text-align: center;
}
.five-icon,.bonus-icon{
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    column-gap: 156px;
}
.five-icon img{
    width: 166.76px;
    height: 50px;
    filter: grayscale();
}
.last{
    width: 1440px;
height: 100px;
background: #FFF4E7;
border-radius: 8px;
margin: 0px auto 280px auto;

}
.last-p{
    display: flex;
  justify-content: center;
  align-items: center;
    font-weight: 400;
font-size: 20px;
}
/* hover part */
.icon:hover{
    block-size:100px;
    color: aqua;
    font-size: 500px;
    background-color:cadetblue;
}
@media only screen and (max-width: 672px){
    nav{
        margin: 5px 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    nav h3{
        margin: 0px;
    }
    nav ul{
        margin: 30px 0;
    }
   body{
    width: 100%;
   }
   .section-main{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 5px 5px;
   }
   .one-main-section {
  margin: 10px auto 100px auto;
    width: 100%;
   }
   .one-image img{
    width: 100%;
    height: fit-content;
   }
   .two-part{
    display: flex;
    flex-direction: column;
    margin: 5px;
   }
   .two-image{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
   }
   .two-text{
    margin: 20px auto;
   }
   .three{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px;
   }
   .three-text{
    width: auto;
    height: auto;
   }
   .text-title{
    margin: 0 5px;
    width:100%
  
   }
   
   .text-title h2{
    margin: 0;
    width:390px;
   }
   .text-description{
    margin-top: 30px;
   }
.three-image{
    position:relative;
    width: 100%;
    row-gap: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.three-image img{
    width: 100%;
    height: 527px;
   }
.big-button{
    font-weight: 700;
font-size: 35px;
color: #FFFFFF;
background: #FF900E;
border-radius: 8px;
width: 142px;
height: 100px;
position: absolute;
bottom: 300px;
left: 100px;
  }
.four{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.four-icon{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.four-title{
    margin: 10px auto;
}
.four-title p{
    width: 100%;
}
.five-title,.bonus-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.five-title p{
    width: 100%;
}
.five-icon,.bonus-icon{
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.last{
    width: 100%;
height: 100px;
background: #FFF4E7;
border-radius: 8px;
margin: 0px auto 280px auto;

}
.last-p{
    display: flex;
  justify-content: center;
  align-items: center;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

}




    